{
  "baseUrl": "{urlsegmentation}",
  "dataProducts": [
    {
      "dataSourceId": "votre-datasource-id-1",
      "fieldsToHide": [
        "field1",
        "field2",
        "field3"
      ],
      "fieldsToUnhide": [
        "fieldPublic"
      ]
    },
    {
      "dataSourceId": "votre-datasource-id-2",
      "fieldsToHide": [
        "field4"
      ],
      "fieldsToUnhide": [
        "fieldVisible1",
        "fieldVisible2"
      ]
    }
  ]
}
